body{
	background-color: white;
}
.dark-theme{
  background: url('../images/g6.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-footer{
	background: url('../images/bg-poly.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#start{
  	 height: 650px; 
}

#start .heading-box{
	padding-top: 100px;
}

#start .heading-title {
    color: #eee;
    font-size: 48px;
    font-family: helvetica;
}

#start .heading-title>span{
	font-weight: bolder;
}

#start .heading-details {
    color: #aaa;
    font-size: 24px;
    font-family: helvetica;
}

#start .download-cv {
    font-size: 14px;
    color: #eee;
    font-weight: bolder;
    line-height: 45px;
    border: 1px solid #eee;
    border-radius: 10px;
    margin-top: 14px;
    text-align: center;
    margin-left: 15px;
}

#navigation .nav-box{
  position: fixed;
  width: 240px;
  margin: 22px;
  background: #fff;
}

#navigation .nav-link{
  list-style: none;
  margin-top: 20px;
  color: #777;
  text-align: right
}

#navigation .nav-link>li{
  border-bottom: 1px solid #eee;
  padding: 8px 0px;
}

#navigation .nav-link>li>a{
  text-decoration: none;
  color:#777;
}

#navigation .img-box img{
  max-width: 100%;
  height: auto;
}

#navigation .img-box{
  max-height: 260px;
}

.social-presence{
  color: #777;
}
.social-icons{
  padding: 25px 0px 10px;
}

#resume{
  /*margin-bottom: 50px;*/
}

.resume-box .head-icon{
font-size: 80px;
  color: #ca4441;
}

.project{
  margin-bottom: 20px;
  background: #fff;
  padding: 0;
  width: 30%;
  margin: 15px;
  height: 300px;
  overflow: auto;
  /*position: relative;*/
  border: 1px solid #999;
}

.project-title,.project-desc{
  padding: 5px;  
}

#portfolio{
  background-color: #f4f4f4;
  padding-top: 50px;
  padding-bottom: 50px;
}

#portfolio .project-img>img{
  width: 100%;
  height: 200px;
}

#portfolio .project-img{
  position: relative;
}

#portfolio .project-img i{
  font-size: 40px;
}

.overlay-link{
  position: absolute;
  top: 0;
  color: #eee;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(1,1,1,0.5);
}

#testimonials .experience-head{
  font-size: 32px;
}

#testimonials .testimonials-caption{
  font-size: 20px;
}

#testimonials .comment {
    padding: 20px;
    background: #eee;
    border-radius: 12px;
    color: #444;
    margin-top: 25px;
    margin-bottom: 20px;
}

#testimonials .ref-profile-img>img{
  width: 100%;
  border-radius: 50%;
}

#testimonials .ref-profile-img{
  padding-right: 0px;
}

#testimonials .ref-text{
  margin-top: 10px;
}

.contact-box{
  margin-left: 20px;
}

.contact-form{
  margin-top: 40px;
  background: #333;
  padding: 25px;
}

.contact-form-title{
  color: #eee;
  font-size: 20px;
  margin-bottom: 12px;
}

#name,#email,#message,#send-message{
  margin-bottom: 22px;
}

#message{
  min-height: 120px;
  resize: vertical;
}

.gen-info{
  color:#eee;
}

.mail i,.address i{
  margin-right: 13px;
  font-size: 18px;
  color: #dd4646;
}

.download-cv{
  cursor: pointer;
}

ul.job-edu-details,ul.extra-curr-details,ul.technical-skill-details{
  padding: 0;
}

ul.job-edu-details>li,ul.extra-curr-details>li,ul.technical-skill-details>li{
  list-style-position: inside;
  list-style-type: devanagari;
}


.head-icon,.sec1-title,.sec2-title,.sec3-title{
  text-align: center;
}

.overlay-link{
  display: none;
}
.active{
  display: block !important;
}

.overlay-link i{
  font-size: 50px;
  top: 100px;
  left: 105px;
  position: absolute;
}

.project-title{
  background: #888;
  color: #eee;
  text-align: center;
}

@media screen and (max-width: 1480px) {
	.section{
	    padding-left: 280px !important;
      padding-bottom: 50px;
	}
}